 
 <md-toolbar>
	<div class="md-toolbar-tools">
        <span flex>
        <md-button class="md-raised">All</md-button>
        <md-button ng-repeat="c in categories track by index" ng-disabled="selected == category._id" class="md-raised" ng-click="selectCategory(catgeory._id)">{{category.name}}</md-button>
        <md-button class="md-raised">Random</md-button>
        </span>
	</div>
</md-toolbar>

    <md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
  	<md-card-title>
    	<md-card-title-media>
      		<div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
        		<md-icon md-svg-icon="person"></md-icon>
      		</div>
    	</md-card-title-media>
    	<md-card-title-text>
      		<span class="md-headline">{{category.name}}</span>
      		<span class="md-subhead description">{{category.description}}</span>
    	</md-card-title-text>
  </md-card-title>
</md-card>

<div ng-repeat='topic in topics' ng-if='topic._category._id == selected'>
	<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
	<md-button>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline"><a href="#/user/{{topic._user._id}}">{{topic._user.name}}</a></span>
				<span class="md-headline"><a href="#/topic/{{topic._id}}">{{topic.name}}</a></span>
				<span class="md-subhead">{{topic.category.name}}</span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media"></div>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
		<md-button>Action 1</md-button>
		<md-button>Action 2</md-button>
		</md-card-actions>
	</md-button>
	</md-card>
</div>

<h3>Add a Topic</h3>
<form ng-submit='addTopic()'>
	Topic: <input type="text" ng-model="newTopic.name">
	Description: <textarea ng-model="newTopic.desc"></textarea>
	Category: <select ng-model="newTopic.category">
					<option ng-repeat="category in categories">{{category.name}}</option>
			</select>
	<input type="submit" value="Add Topic">
</form>