<!-- city select -->
 <md-toolbar>
	<div class="md-toolbar-tools">
        <span flex>
	        <md-button ng-disabled="selected == all" class="md-raised" ng-click = "showall()">All</md-button>
	        <md-button ng-repeat="category in categories" ng-disabled="selected == category" class="md-raised" ng-click="selectCategory(category)">{{category.name}}</md-button>
	        <md-button class="md-raised">Random</md-button>
        </span>
	</div>
</md-toolbar>
<!-- Location card -->
    <md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
	  	<md-card-title>
	  		<md-card-title-media>
		  	    <div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
	        		<md-icon class = "material-icons md-48" ng-style="{color: 'grey'}">location_city</md-icon>
	      		</div>
      		</md-card-title-media>
	    	<md-card-title-text>
	      		<span class="md-headline">{{category.name}}</span>
	      		<span class="md-subhead description">{{category.description}}</span>
	    	</md-card-title-text>
	    </md-card-title>
	    <md-card-actions layout="row" layout-align="end center">
		    <md-button class="md-fab md-mini md-icon-button" class ="md-primary" ng-click="show_topic_input()"><md-icon class = "material-icons" ng-style="{color: 'white'}">add</md-icon></md-button>
	    </md-card-actions>
    </md-card>
<!-- Topic input -->
<form ng-submit='createTopic()' ng-show="topic_field">
		<md-input-container class="md-block">
			<label>Topic</label>
			<input required ng-model='newTopic.name'>
			<div ng-messages="newTopic.name.$error">
				<div ng-message ="required">Topic is required</div>
			</div>			
		</md-input-container>

		<md-input-container class="md-block">
			<label>Description</label>
			<textarea ng-model="newTopic.description" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
		</md-input-container>
		<input type="submit" value="Post">
</form>
<!-- Topic cards -->
<div ng-repeat='topic in topics' ng-if='topic._category._id == selected._id || category == all'>
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
	<md-button ng-click = >goToTopic(topic._id)
		<md-card-title>
			<md-card-title-text>
				<span><span>{{topic._user.username}}</span> posted in <span>{{topic._category.name}}</span>:</span>
				<span class="md-headline">{{topic.name}}</span>
				<span class="md-subhead"></span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media"></div>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end">
			<p>{{topic._messages.length}}</p>
			<md-icon class="material-icons" ng-style="{color: 'grey'}">message</md-icon>
			<md-button  ng-if= "!(likes.includes(topic._id))" 
 						class="md-fab md-mini md-icon-button" 
						class ="md-primary" 
						ng-click="createLike(topic._id)">
						<md-icon class = "material-icons" ng-style="{color: 'white'}">thumb_up</md-icon>
						<p>{{topic._likes.length}}</p>
			</md-button>
			<md-button  ng-if= "likes.includes(topic._id)" 
						class="md-fab md-mini md-icon-button" 
						class ="md-primary" 
						ng-click="destroyLike(topic._id)">
						<md-icon class = "material-icons" ng-style="{color: 'grey'}">thumb_up</md-icon>
						<p>{{topic._likes.length}}</p>
			</md-button>
			<md-button	ng-if= "user._id == topic._user._id" 
						class="md-fab md-mini md-icon-button" 
						class ="md-primary" 
						ng-click="destroyTopic(topic._id)">
						<md-icon class = "material-icons" ng-style="{color: 'white'}">delete</md-icon>
			</md-button>
		</md-card-actions>
	</md-button>
	</md-card>
</div>
