<div>
	<h1>{{topic.name}}</h1><p>{{topic._user.name}}</p>
	<p>{{topic.description}}</p>
	<p>votes</p>

</div>
<form ng-submit="newMessage()">
Post a message:
	<textarea ng-model="newMessagePost.text"></textarea>
	<input type="submit" value="Post Message">
</form>

<div ng-repeat= "message in topic._messages">
	 <h4>{{message._user.name}}  {{message.createdAt|date: "hh:mm a MM/dd/yyyy"}}</h4>

	 <p>{{message.text}}</p>
	 <div ng-repeat="comment in message._comments">
	 	<h5>{{comment._user.name}} {{comment.createdAt|date: "hh:mm a MM/dd/yyyy"}}</h5>
	 	<p>{{comment.text}}</p>
	 </div>
	 <form ng-submit="newComment(message)">
	 Post a comment:
	 	<textarea ng-model="newCommentPost.text"></textarea>
	 	<input type="submit" value="Post Comment">
	 </form>
</div>