
<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
	<md-card-title>
		<md-card-title-text>
			<span><span ng-click="goToUser(topic._user._id)">{{topic._user.username}}</span> posted in <span>{{topic._category.name}}</span>:</span>
			<span class="md-headline">{{topic.name}}</span>
			<span class="md-subhead"></span>
		</md-card-title-text>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-fab md-mini md-icon-button" class ="md-primary" ng-click="showMessageInput()"><md-icon class = "material-icons" ng-style="{color: 'white'}">add</md-icon></md-button>
		<md-button class="md-fab md-mini md-icon-button" class ="md-primary" ng-click = ''><md-icon class = "material-icons" ng-style="{color: 'white'}">thumb_up</md-icon></md-button>
	</md-card-actions>
</md-card>

<form ng-submit='createMessage()' ng-show="message_field">
	<md-input-container class="md-block">
		<label>Message</label>
		<textarea ng-model="newMessage.text" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
	</md-input-container>
	<input type="submit" value="Post" class="md-raised">
</form>

<div ng-repeat= "message in topic._messages">
	<span flex></span>
	<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex="80">
		<md-card-title>
			<md-card-title-text>
				<span>{{message._user.username}}  {{message.createdAt|date: "hh:mm a MM/dd/yyyy"}}</span>
				<span>{{message.text}}</span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
	<div ng-repeat="comment in message._comments">
		<span flex></span>
		<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex="60" >
			<md-card-title>
				<md-card-title-text>
 					<span>{{comment._user.username}} {{comment.createdAt|date: "hh:mm a MM/dd/yyyy"}}</span>
 					<span>{{comment.text}}</span>
				</md-card-title-text>
			</md-card-title> 					
		</md-card>
	</div>
</div>	
 <form ng-submit="newComment(message)">
 	<md-input-container>
		<label>Comment</label>
		<textarea ng-model="newCommentPost.text"></textarea>
	</md-input-container>
	<input type="submit" value="Post Comment"> 
</form>